@import "../global.css";

.container-att {
  background-color: white;
  max-height: 1280px;
  height: 900px;
  padding-top: 3% !important;
  padding-left: 12% !important;
  padding-right: 20% !important;
}

.ancho-col {
  width: 30%;
}

/* para hacer que la primera columna quede fija */
.mi-tabla {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.static {
  position: absolute;
  /* background-color: white; */
}

.first-col {
  padding-left: 60% !important;
}

/* fin */

.uno-color {
  color: var(--uno);
}

.asistencia-btn {
  color: white;
  background-color: var(--dos);
  width: calc(40px + 35%);
  font-size: small;
}

.asistencia-btn:hover {
  color: white;
  background-color: var(--dos);
  /* opacity: 80%; */
  border-color: white;
  border-width: 1.5px;
}

.detalle-btn {
  color: white;
  background-color: var(--uno);
  width: calc(40px + 35%);
  font-size: small;
}

.detalle-btn:hover {
  color: white;
  background-color: var(--uno);
  /* opacity: 80%; */
  border-color: white;
  border-width: 1.5px;
}

.volver-btn:hover {
  color: white;
  background-color: var(--dos);
  border-color: white;
  border-width: 1.5px;
}

.volver-btn {
  color: white;
  background-color: var(--dos);
  width: calc(35px + 15%);
  float: right;
}

.addNew-btn:hover {
  color: white;
  background-color: var(--uno);
  border-color: white;
  border-width: 1.5px;
}

.addNew-btn {
  color: white;
  background-color: var(--uno);
  width: calc(35px + 15%);
  float: right;
}

.modal-div {
  margin-right: 15%;
  margin-left: 5%;
}

.size-small {
  width: 10% !important;
}
