@import "../global.css";

.container-lider {
  margin-top: 3% !important;
  margin-left: 12% !important;
  margin-right: 20% !important;
}

.sangria {
  margin-left: calc(10px + 1.2%);
  margin-right: calc(10px + 1.2%);
}

.botones {
  margin-top: 5%;
  margin-left: 65%;
  margin-right: 0.5%;
}

.salir-btn {
  color: white;
  background-color: var(--dos);
  width: calc(40px + 35%) !important;
  font-size: calc(5px + 3% + 1vw);
  margin-top: 2px;
  float: right;
}

.guardar-btn {
  color: white;
  background-color: var(--uno);
  width: calc(40px + 35%) !important;
  font-size: calc(5px + 3% + 1vw);
  margin-right: 2px;
  float: right;
}

.salir-btn:hover {
  color: white;
  background-color: var(--dos);
  /* opacity: 80%; */
  border-color: white;
  border-width: 1.5px;
}

.guardar-btn:hover {
  color: white;
  background-color: var(--uno);
  /* opacity: 80%; */
  border-color: white;
  border-width: 1.5px;
}

.modal-div {
  margin-right: 15%;
  margin-left: 5%;
}

.efecto-hover:hover {
  color: red;
  cursor: pointer;
}

.uno-color {
  color: var(--uno);
}

.eliminar-btn {
  color: white;
  background-color: var(--dos);
  width: 50%;
  font-size: small;
}

.eliminar-btn:hover {
  color: white;
  background-color: var(--dos);
  /* opacity: 80%; */
  border-color: white;
  border-width: 1.5px;
}

.addAsistencia-btn {
  color: white;
  background-color: var(--uno);
  width: calc(15% + 30px + 10vw);
  font-size: small;
}

.addAsistencia-btn:hover {
  color: white;
  background-color: var(--uno);
  /* opacity: 80%; */
  border-color: var(--dos);
  border-width: 1.5px;
}

.actualizar-btn {
  color: white;
  background-color: var(--uno);
  width: 50%;
  font-size: small;
}

.actualizar-btn:hover {
  color: white;
  background-color: var(--uno);
  /* opacity: 80%; */
  border-color: white;
  border-width: 1.5px;
}

.fuente {
  color: var(--uno);
  font-size: 100%;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
}
