@import "../global.css";

.container-login{
  height: 750px;
}

.container {
  background-color: var(--uno);
  display: flex;
  justify-content: center;
  align-items: center;
}

.separa{
  margin-top: 5px;
  margin-bottom: 5px;
}

.centro{
  justify-content: center;
}

.grupo-botones {
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

form {
  width: 35%;
}

.titulo{
  font-size: calc(12px + 25% + 2vw);
}

.btn {
  background-color: var(--dos);
  border-radius: 50px;
  width: 30%;
}

h3 {
  color: var(--tres) !important;
  text-align: center;
}

.entradas {
  border-radius: 12.5px;
  border: auto;
  min-width: 40% !important;
  width: calc(65% + 18vw) !important;
}

label {
  color: var(--tres);
  border-radius: 50px;
}
