@import "../global.css";

.nav-def {
  background-color: var(--uno);
  padding-top: calc(1.5px + 1vw);
  width: 100%;
}

.margenDer{
  margin-right: 8px;
}

.titulo1 {
  font-size: calc(15px + 10% + 1.5vw);
  color: white;
}

.nav-bar {
  height: 60px;
}

.puntero:hover {
  cursor: pointer;
}

label {
  color: var(--dos);
  font-size: 100%;
}

.centrado {
  margin-left: calc(15px + 2vh);
}

.img-nav {
  width: calc(15px + 5vh);
  height: calc(15px + 5vh);
  justify-content: center;
  align-items: center;
}
